body {
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: lightgreen;
}

.wrapper {
	display: flex;
	max-width: 1200px;
	margin: auto;
}

.container {
	flex: 1;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-right: 20px;
}

.image-container {
	flex: 1;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.image-container img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.edit-button {
	background-color: #008000;
}

.delete-button {
	background-color: #ff0000;
}

.button {
	padding: 5px 10px;
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
	width: 100%;
}
